Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ portal/web/assets/$1 [L]
RewriteRule ^css/(.*)$ portal/web/css/$1 [L]
RewriteRule ^js/(.*)$ portal/web/js/$1 [L]
RewriteRule ^images/(.*)$ portal/web/images/$1 [L]
RewriteRule (.*) portal/web/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . portal/web/index.php


